<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title-inner d-flex">
                Mon compte
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="page-title d-flex" (click)="my_profile()">
        <div class="img_box center_img">
            <img src="assets/images/users/user1.png" class="crop_img">
        </div>
        <div class="text_box">
            <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">Samanthateam123</h2>
            <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".55s">Voir le profil</h3>
        </div>
    </div>


</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="background center_img">
        <img src="assets/images/bg.png" class="crop_img">
    </div>

    <div class="content-inner">
        <div class="lavel animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
            <ion-item class="animate__animated animate__fadeInUp" (click)="my_points()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-fire" style="color: #FDBE01"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">Niveau 89
                            <span class="end">8,871 token BetGame </span>
                        </h2>
                        <div class="progress_bar">
                            <div class="progress_bar_active" style="width: 80%">
                            </div>
                        </div>

                        <h3>gagne 129 pour atteindre le niveau 90</h3>
                    </div>
                </div>
            </ion-item>
        </div>

        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" (click)="leaderboard()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-account" style="color: #347FEF"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>Rang</h2>
                        <h3>Jouer des matchs afin d'améliorer votre classement</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="my_team()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-account" style="color: #347FEF"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>Mes équipes</h2>
                        <h3>Consulter mes équipes</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="about_us()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-alert" style="color: #2DAA4F"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>Qui sommes-nous ?</h2>
                        <h3>Le projet BetGame</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="support()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-email" style="color: #EA4235"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'support' | translate}}</h2>
                        <h3>Contacter nous en cas de problème</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="privacy_policy()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment" style="color: #FDBE01"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>Politique de confidentialité</h2>
                        <h3>Comment nous gérons vos données</h3>
                    </div>
                </div>
            </ion-item>

            <!--<ion-item class="animate__animated animate__fadeInUp" (click)="language()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-globe" style="color: #347FEF"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'change_languade' | translate}}</h2>
                        <h3>{{'set_your_prefeerred_language' | translate}}</h3>
                    </div>
                </div>
            </ion-item>-->

            <ion-item class="animate__animated animate__fadeInUp" (click)="faqs()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-pin-help" style="color: #2DAA4F"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'faqs' | translate}}</h2>
                        <h3>{{'get_your_question_answered' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="stats()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-o" style="color: red"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>Stats</h2>
                        <h3>Consulter vos statistiques</h3>
                    </div>
                </div>
            </ion-item>

            
        </ion-list>
    </div>
</ion-content>