<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s" tab="home">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_home.png">
                    </div>
                    <h2>Home</h2>
                </div>
            </div>

            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_homeact.png">
                    </div>
                    <h2>Home</h2>
                </div>
            </div>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp wow" data-wow-duration="0.35s" tab="myMatches">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_matches.png">
                    </div>
                    <h2>Mes tournois</h2>
                </div>
            </div>

            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_matchesact.png">
                    </div>
                    <h2>Mes tournois</h2>
                </div>
            </div>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp wow" data-wow-duration="0.4s" tab="wallet">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_wallet.png">
                    </div>
                    <h2>Token</h2>
                </div>
            </div>

            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_walletact.png">
                    </div>
                    <h2>Token</h2>
                </div>
            </div>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp wow" data-wow-duration="0.45s" tab="account">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_account.png">
                    </div>
                    <h2>Mon compte</h2>
                </div>
            </div>

            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/icons/ic_accountact.png">
                    </div>
                    <h2>Mon compte</h2>
                </div>
            </div>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>