<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'wallet' | translate}}</ion-title>
    </ion-toolbar>

    <div class="page-title">
        <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">$159.50</h2>
        <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".55s">{{'available_balance' | translate}}</h3>
    </div>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <div class="background center_img">
        <img src="assets/images/bg.png" class="crop_img">
    </div>

    <div class="content-inner">
        <div class="contacts animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">
            <ion-row>
                <ion-col class="d-flex" size="6">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi zmdi-long-arrow-down ion-text-start"></ion-icon>
                        {{'add_money' | translate}}
                    </h2>
                </ion-col>

                <ion-col class="d-flex" size="6">
                    <h2 class="d-flex end">
                        <ion-icon class="zmdi zmdi-long-arrow-up ion-text-start"></ion-icon>
                        {{'sent_to_bank' | translate}}
                    </h2>
                </ion-col>
            </ion-row>
        </div>
        
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item>
            
             
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item> 
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item> 
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item> 
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item> 
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item> 
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$4.00</span> </h2>
                    <h3 class="d-flex">WLS vs CBR <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$200.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$24.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">13 Jun, 2:32 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">BLB vs PPD <span class="end">06 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item-inner">
                    <h2 class="d-flex"> Joined a Contest <span class="end">$50.00</span> </h2>
                    <h3 class="d-flex">MXT vs SKC <span class="end">01 Jun, 10:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Won a Contest<span class="end">$20.00</span> </h2>
                    <h3 class="d-flex">WLS vs GGS <span class="end">26 May, 9:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp added_to_wallet">
                <div class="item-inner">
                    <h2 class="d-flex">Added to Wallet<span class="end">$100.00</span> </h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 10:00 pm</span></h3>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>