<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title-inner d-flex">
                {{'account' | translate}}

                <div *ngIf="config.demoMode" (click)="buyappalert()" class="buy_this_app end">
                    <h2>
                        {{"buy_this_app" | translate}}
                    </h2>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="page-title d-flex" (click)="my_profile()">
        <div class="img_box center_img">
            <img src="assets/images/users/user1.png" class="crop_img">
        </div>
        <div class="text_box">
            <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">Samanthateam123</h2>
            <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".55s">{{'view_profile' | translate}}</h3>
        </div>
    </div>


</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="background center_img">
        <img src="assets/images/bg.png" class="crop_img">
    </div>

    <div class="content-inner">
        <div class="lavel animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
            <ion-item class="animate__animated animate__fadeInUp" (click)="my_points()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-fire" style="color: #FDBE01"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">{{'lavel' | translate}} 89
                            <span class="end">8,871 {{'points' | translate}} </span>
                        </h2>
                        <div class="progress_bar">
                            <div class="progress_bar_active" style="width: 80%">
                            </div>
                        </div>

                        <h3>{{'earn' | translate}} 129 {{'points_to_reach_level' | translate}} 90</h3>
                    </div>
                </div>
            </ion-item>
        </div>

        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" (click)="leaderboard()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-account" style="color: #347FEF"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'leaderboard' | translate}}</h2>
                        <h3>{{'know_where_you_stands_in_competetion' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="about_us()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment-alert" style="color: #2DAA4F"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'about_us' | translate}}</h2>
                        <h3>{{'who_we_are_how_we_starred' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="support()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-email" style="color: #EA4235"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'support' | translate}}</h2>
                        <h3>{{'connect_us_for_issue' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="privacy_policy()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-assignment" style="color: #FDBE01"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'privacy_policy' | translate}}</h2>
                        <h3>{{'know_our_privacy_policies' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="language()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-globe" style="color: #347FEF"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'change_languade' | translate}}</h2>
                        <h3>{{'set_your_prefeerred_language' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp" (click)="faqs()">
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-pin-help" style="color: #2DAA4F"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'faqs' | translate}}</h2>
                        <h3>{{'get_your_question_answered' | translate}}</h3>
                    </div>
                </div>
            </ion-item>

            <div class="developed_by d-flex animate__animated animate__fadeInUp wow" data-wow-duration="0.8s" (click)="developed_by()" *ngIf="config.demoMode">
                <h2>{{"developed_by" | translate}}</h2>
                <div class="img_box end">
                    <img src="assets/images/opus_labs.png">
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>